.search-block
  padding-bottom: 30px
  width: 100%

.search-form
  position: relative
  border-bottom: 1px solid #D8D8D8
  .search-icon
    position: absolute
    top: 38%
    color: #464a4c

#search-input
  width: 100%
  -webkit-appearance: none
  box-sizing: border-box
  font-size: 15px
  outline: none
  padding: 18px
  background: transparent
  border: none
  -webkit-transition: all 0.2s linear
  -moz-transition: all 0.2s linear
  transition: all 0.2s linear

.index
  .search-block
    width: 100%
    .search-icon
      top: 27px
      position: relative
      z-index: 3
      left: 20px
    #search-input
      font-size: 20px
      padding: auto
      background: white
      box-shadow: 0px 0px 7px rgba(0,0,0,.12)
      border: 1px solid rgba(0,0,0,.1)
      border-radius: 0
  #search-input:focus
    width: 100%


//
// Algolia Docsearch
//

$color-border: #2196F3
$color-border-light: lighten($color-border, 15%)
$color-category-header-background: #2196F3
$color-highlight-header-background: lighten($color-category-header-background, 15%)
$color-highlight-text: #03A9F4
$color-selected-background: aliceblue
$color-selected-text: #03A9F4
$color-left-column-bg: #E1F5FE
$color-left-column: #424242

$breakpoint-large: 768px

.algolia-autocomplete
  width: 100%

.algolia-docsearch-footer
  padding-right: 4px

.aa-dropdown-menu
  position: fixed !important
  top: 85px !important
  left: 10px !important
  width: 80vw !important
  border-radius: 2px
  border: 0
  box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)
  font-size: 14px
  overflow: hidden
  padding-left: 0
  padding-right: 0
  padding-top: 0
  transition: all .2s ease
  width: 100%

.algolia-docsearch-suggestion
  padding: 0 !important
  border-bottom: 1px solid $color-border
  background: none !important


.algolia-docsearch-suggestion--content
  background: white
  margin-left: auto

.algolia-docsearch-suggestion--wrapper
  display: flex
  padding: 0 !important

.algolia-docsearch-suggestion--category-header
  margin-top: 0 !important
  background: $color-category-header-background
  font-size: 14px
  color: white

.algolia-docsearch-suggestion--highlight
  color: black !important
  font-weight: bold
.algolia-docsearch-suggestion--category-header
  .algolia-docsearch-suggestion--highlight
    background: $color-highlight-header-background

.aa-cursor .algolia-docsearch-suggestion--title
  color: $color-selected-text !important
  .algolia-docsearch-suggestion--highlight
    color: $color-selected-text !important

.aa-cursor .algolia-docsearch-suggestion
  background: none !important
.aa-dropdown-menu
  background: white
.aa-suggestions
  background: #E1F5FE

.algolia-autocomplete .algolia-docsearch-suggestion--content::before
  background: $color-border-light !important

.algolia-autocomplete .algolia-docsearch-suggestion--category-header
  color: white !important
  padding-left: 10px !important
  font-weight: bold


@media (min-width: $breakpoint-large)
  .aa-dropdown-menu
    width: 40vw !important
  .algolia-docsearch-suggestion
    border-bottom: 1px solid $color-border-light
  .algolia-docsearch-suggestion--subcategory-column
    background: $color-left-column-bg
    color: $color-left-column

